.nav-content-logo h1{
    color: black;
}
nav{
    height: 120px;
    z-index: 1000;
}
.nav-ul{
    color: black;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 40px;
}
.nav-li{
    cursor: pointer;
    font-weight: 600;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: center;
    border-radius: 50px;
    border: solid 2px transparent;
    background-color: transparent;
}
.nav-li:hover{
    border: 2px solid black;
}
.nav-li-active{
    border: 2px solid black;
}

.nav-content{
    display: flex;
    flex-direction: row;
    padding-left: 120px;
    padding-right: 120px;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    
}
.nav-content-logo{
    width: 100px;
    z-index: 1000;
}
.nav-content-logo img{
    width: 200px;
    padding-top: 20px;
    height: 200px;
}

.button-nav button{
    border: solid 2px;
    color: white;
    width: 100px;
    height: 40px;
    font-weight: 500;
    cursor: pointer;
    font-size: 15px;
    border-radius: 9px;
    transition: background-color 0.3s ease 0s;
    background-color: #544af4;
}
.button-nav button:hover{
    background-color: #4032fc;
}
.button-nav button:active{
    background-color: #544af4;
}

a{
    text-decoration: none;
    color: black;
}