.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    height: 600px;
    
    width: 500px;
}
.login-content{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.username{
    display: flex;
    flex-direction: column;
}
.password{
    display: flex;
    flex-direction: column;
}
.login-flex{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    display: inherit;
}
.input-username-password{
    outline: none;
    height: 30px;
    
    width: 400px;
    padding-left: 10px;
    border-radius: 7px;
    border: solid 3px transparent;
    transition: box-shadow 0.1s ease;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
.input-username-password:focus{

    box-shadow: #4639fa7a 0px 0px 0px 3px;
    /* border: solid 3px #554af47a; */
}
.login-flex2{
    padding-top: 100px;
    padding-bottom: 100px;
}

.btn-login button{
    border: solid 2px;
    color: white;
    width: 200px;
    height: 50px;
    font-weight: 500;
    cursor: pointer;
    font-size: 17px;
    border-radius: 50px;
    transition: background-color 0.3s ease 0s;
    background-color: #544af4;
}
.btn-login button:hover{
    background-color: #4032fc;
}
.btn-login button:active{
    background-color: #544af4;
}